<!DOCTYPE html>
<html>
    <head>
        <title> Welcome </title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

    </head>
<body>
<a href="/login">Login</a>
<br>
<a href="/signup">signup</a>

</body>
</html>
