<!DOCTYPE html>
<html>
    <head>
        <title> Welcome </title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

    </head>
<body>
<a href="/login"><h4>Login</h4></a>
<br>
<a href="/auth/facebook"><h4>Facebook Login</h4></a>
<br>
<a href="/signup"><h4>signup</h4></a>

</body>
</html>
